extends layout

block content
  .timeline
    h2 Auction
    table#good-list
      tr
        th Name
        th Image
        th Start Price
        th Finish Time
        th Enter
      for good in goods
        tr
          td= good.name
          td: img(src='/img/' + good.img)
          td= good.price
          td.time(data-start=good.createdAt) 00:00:00
          td: a.enter.btn(href='/good/' + good.id) Enter